:root {
  --main-text-color: #ffffff;
  --second-text-color: #434455;
  --hero-text-color: #2e2f42;
  --team-text-color: #f4f4fd;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**----------------HEADER--------**/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  gap: 40px;
  max-width: 261px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color var(--transition);
  position: relative;
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

/**-------------------ADRESS--------**/

.header-adr {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
  font-weight: 400;
  max-width: 344px;
  margin-left: 251px;
}

.adres-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color var(--transition);
}

.adres-link:is(:hover, :focus) {
  color: #404bbf;
}

/*?--------HERO-TITLO---------?*/

.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-titlo {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition);
}

.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
  cursor: pointer;
}

.hero-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-top: 8px;
  gap: 24px;
}

.header-soc-icon {
  fill: #f4f4fd;
  transition: color var(--transition);
}

.header-soc-icon:hover {
  fill: #404bbf;
}

.header-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  fill: #404bbf;
}

/*?----------------ADVANTAGES----------?*/

.advantages {
  padding: 120px 0;
}

.advantages-menu {
  display: flex;
  gap: 24px;
}
.advantages-menu-item {
  padding-left: 0;
  width: calc((100% - 72px) / 4);
}

.advantages-menu-item::before {
  content: "";
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
}

.advantages-container-icon {
  background: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-menu {
  display: flex;
  gap: 24px;
}

.result-menu-item {
  width: calc((100%-48px) / 3);
}

.posada {
  padding: 32px 16px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.team-centr {
  text-align: center;
  margin-bottom: 8px;
}

.text-centr {
  text-align: center;
}

.hero-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.hero-advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 8px;
}

.result {
  padding-bottom: 120px;
}

.hero-result {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  min-width: 323px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.text-footer {
  color: #f4f4fd;
}
.team {
  background-color: var(--team-text-color);
}

.team-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-menu-item {
  background-color: var(--main-text-color);
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.dark-bgr {
  background-color: var(--hero-text-color);
}

/***?-------------CUSTOMERS---------?***/

.container-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 72px;
}

.customers-menu {
  display: flex;
  gap: 24px;
}

.customers-menu-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-menu-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

.customers-menu-link:is(:hover, :focus) {
  border-color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/**-------------FOOTER------------**/

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.button-text {
  color: #4d5ae5;
}

.footer-bgr {
  background: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  min-width: 264px;
  margin-top: 16px;
  padding-left: 0;
  padding-right: 858px;
}

.footer-cont {
  margin-right: 120px;
}

.footer-soc {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.paragraf-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-media {
  width: 100%;
  height: 100%;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**-----------------------------------PORTFOLIO------------------*/

.section-portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:is(:hover, :focus) {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.foto-item {
  background: var(--main-text-color);
  width: calc((100% - 48px) / 3);
}

.portfolio-pictures {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.foto-border {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding: 12px 24px;
  margin: auto;
  display: block;
  margin-top: 72px;
  border: 1px solid #e7e9fc;
}

.button-text:is(:hover, :focus) {
  background-color: #404bbf;
  color: var(--main-text-color);
  cursor: pointer;
  border: 1px solid transparent;
}

.portfolio-menu-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-block-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--team-text-color);
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

.foto-item: hover .portfolio-block {
  transform: translate(0);
}

.foto-item {
  overflow: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
